<!DOCTYPE html>
<html lang="en">
<head>
	<meta chatset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Funpig's App</title>
	<meta name="author" content="funpig">
	<meta name="description" content="Funpig's App - Collection of funpig's App">
	<meta name="keywords" content="application, ios app, funpig, share, finance">
	<!-- SOCIAL MEDIA META -->
	<meta property="og:description" content="Funpig's App - Collection of funpig's App">
	<meta property="og:site_name" content="Funpig's App">
	<meta property="og:title" content="Funpig's App">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://funpigapp.com">
	<!-- FAVICON FILES -->
	<link href="../public/home/icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
	<link href="../public/home/icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
	<link href="../public/home/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
	<link href="../public/home/icon/favicon.png" rel="shortcut icon">
	<!-- CSS FILES -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!--<link href="css/jquery.fancybox.css" rel="stylesheet">-->
	<link href="../public/home/css/animate.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="../public/home/css/scrolling-nav.css" rel="stylesheet">
	<link href="../public/home/css/base.css" rel="stylesheet">
	<link href="../public/home/css/style.css" rel="stylesheet">
	<!--<style type="text/css">.fancybox-margin{margin-right:15px;}</style>-->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" class="page-loaded">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="navbar-barnd page-scroll" href="#start">
					<img src="../public/home/images/site-logo.png" alt="Image">
				</a>
			</div>
		</div>
		<!-- end container -->
	</nav>
	<header id="start" class="hero-text-rotate">
		<div class="hero-wrapper">
			<div class="content">
				<div class="text-rotator">
					<div class="slogan">
						Funpig's App
      					<ul>
        					<li><span>aashare</span></li>
        					<li><span>other</span></li>
      					</ul>
    				</div>
			    	<!-- end slogan -->
				</div>
				<!-- end text-rotater -->
				<p class="hero-text">Record the cost when you pay for other guys, share the detail with them.</p>
				<a href="" class="hero-btn">Download on the App Store</a>
				<div class="container">
  					<img src="../public/home/images/iphone-features.png" alt="Image">
  				</div>
  				<!-- end container -->
			</div>
			<!-- end content -->
		</div>
		<!-- end hero-wrapper -->
	</header>
	<!-- end hero -->

	<footer class="footer">
		<div class="sub-footer wow fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 text-left">
						<span>&copy; 2017 <a href="">funpig</a> | All Rights Reserved.</span>
					</div>
					<div class="col-md-6 col-sm-6 text-right">
						<span>Funpig's App is created by <a href="">@funpig</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<a href="#" class="scrollup">
		<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
	</a>

	<!-- JS FILES -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		(function($) {
			$(window).load(function(){
			$("body").addClass("page-loaded");	
		});
		})(jQuery)
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="../public/home/js/wow.min.js"></script>
	<!--<script src="js/jquery.fancybox.js"></script>-->
	<script src="../public/home/js/scripts.js"></script>
</body>
</html>

